<h3 class="offset-3" *ngIf="!tades">This ID does not exist!</h3>
<form *ngIf="tades" action="#">
  <table class="table table-striped">
    <thead>
    <tr>
      <td *ngIf="tades.id !== 0">ID</td>
      <td>Название</td>
      <td>Описание</td>
      <td>Важность</td>
      <td>Дата создания</td>
      <td>Деадлайн</td>
      <td>Дата завершения</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td *ngIf="tades.id !== 0"><input type="number"
                 class="form-control"
                 name="id"
                 [(ngModel)]="tades.id"
                 readonly disabled /></td>
      <td><input type="text"
                 class="form-control"
                 name="name"
                 [(ngModel)]="tades.name" /></td>
      <td><input type="text"
                 class="form-control"
                 name="description"
                 [(ngModel)]="tades.description" /></td>
      <td>
        <select class="form-control"
                name="importance"
                [(ngModel)]="tades.importance">
          <option  *ngFor="let imp of importance" [value]="imp">
            {{imp}}
          </option>
        </select>
      </td>
      <td><input type="text"
                 class="form-control"
                 name="createdDate"
                 [(ngModel)]="tades.createdDate"
                 disabled /></td>
      <td><input type="text"
                 class="form-control"
                 name="deadlineDate"
                 ngxDaterangepickerMd
                 [singleDatePicker]="true"
                 [autoApply]="true"
                 [(ngModel)]="tades.deadlineDate" /></td>
      <td><input type="text"
                 class="form-control"
                 name="completedDate"
                 ngxDaterangepickerMd
                 [singleDatePicker]="true"
                 [autoApply]="true"
                 [(ngModel)]="tades.completedDate" /></td>
    </tr>
    </tbody>
  </table>
  <div class="form-group">
    <button class="btn btn-success"
            (click)="saveTodo(tades)"
            [disabled]="!this.tades.name || !this.tades.description">
      {{tades?.id !== 0 ? 'Сохранить изменения' : 'Добавить задачу'}}
    </button>
  </div>
</form>
<div>{{statusMessage}}</div>
